@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@font-face {
  font-family: "cocogoose";
  src: url(../fonts/Cocogoose.ttf);
}

body {
  min-width: 320px;
}

footer {
  padding: 15px;
}

footer p {
  font-size: 12px;
}

.footer-name p {
  font-size: 12px;
  font-weight: bold;
}

.footer-name i {
  font-size: 12px;
}

header {
  background-image: url(../img/supercars.gif), -webkit-gradient(linear, left top, left bottom, from(#d3d3d3), to(#d3d3d3fb));
  background-image: url(../img/supercars.gif), linear-gradient(#d3d3d3, #d3d3d3fb);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: right;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.social {
  height: 20px;
  background-color: #272a31;
  display: none;
}

.social ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-line-pack: center;
  align-content: center;
}

.social li {
  list-style: none;
  font-size: 10px;
  padding: 3px;
  text-decoration: none;
}

.social li a {
  color: #d3d3d3;
  text-decoration: none;
}

.navbar-brand {
  display: none;
}

.navbar-toggler {
  border: none;
}

.heading h1 {
  font-family: "cocogoose", sans-serif;
  color: #ec5242;
  font-size: 32px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.heading h2 {
  color: #ec5242;
  font-family: "Lato", sans-serif;
}

.header-info p {
  margin: 5px;
  padding: 5px;
  border: 2px solid #d3d3d3;
  color: #272a31;
}

.header-info h3 {
  padding: 10px;
  color: #272a31;
  font-family: "cocogoose", sans-serif;
}

.header-info h4 {
  font-size: 16px;
  margin-bottom: 50px;
  color: #272a31;
}

.event-date {
  font-size: 17px;
  font-weight: 700;
  color: #272a31;
}

.main-program {
  background-image: url(../img/blackpattern.jpg), -webkit-gradient(linear, left top, left bottom, from(#d3d3d336), to(#d3d3d336));
  background-image: url(../img/blackpattern.jpg), linear-gradient(#d3d3d336, #d3d3d336);
  background-blend-mode: overlay;
  background-size: cover;
}

.main-program h2 {
  color: #d3d3d3;
}

.main-program p {
  color: #d3d3d3;
}

.program-heading {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.program-heading h2 {
  margin: 20px 20px 10px 20px;
}

.program-heading span {
  width: 50px;
  height: 2px;
  background-color: #ec5242;
}

.activities {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.activity {
  margin: 10px;
  background-color: #d3d3d32a;
}

.activity h5 {
  font-size: 14px;
  color: #ec5242;
}

.activity p {
  margin: 0;
}

.activity i {
  color: #d3d3d3;
}

.activity-data {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-evenly;
}

.activity-name {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.act-button {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.act-button button {
  background-color: #ec5242;
  color: #d3d3d3;
  padding: 10px 25px;
  margin: 20px;
  font-weight: 500;
  border: none;
}

.pilots button {
  margin: 15px;
  border: 1px solid #d3d3d3;
}

.pilots button i {
  color: #ec5242;
  font-size: 12px;
}

.pilot {
  padding: 10px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  justify-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pilots-heading {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pilots-heading h2 {
  margin: 20px 20px 10px 20px;
}

.pilots-heading span {
  width: 50px;
  height: 2px;
  background-color: #ec5242;
}

.pilot-picture {
  width: 50px;
  height: 50px;
  background-image: url(../img/pilot.jpg);
  background-size: cover;
}

.pilot-info p {
  font-size: 10px;
}

.pilot-info h5 {
  font-family: "cocogoose", sans-serif;
  font-size: 14px;
}

.team-description {
  width: 50px;
  height: 50px;
  background-image: url(../img/lamborghini.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.partners {
  background-color: #272a31;
  padding: 20px;
}

.partner-heading {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.partner-heading h2 {
  margin: 20px 20px 10px 20px;
  color: #d3d3d3;
}

.partner-heading span {
  width: 50px;
  height: 2px;
  background-color: #ec5242;
}

.partner-img {
  width: 100%;
  height: 100%;
}

/* Media Queries */
@media (min-width: 768px) {
  .social {
    display: block;
  }

  .heading h1 {
    font-size: 52px;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .heading h2 {
    color: #ec5242;
    padding: 15px;
  }

  .header-info h3 {
    font-size: 20px;
    font-family: "cocogoose", sans-serif;
  }

  .navbar {
    background-color: white;
  }

  .activity-data {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .activity-data i {
    font-size: 20px;
    margin: 10px;
  }

  .activity {
    margin: 3px;
  }

  .activity-description p {
    text-align: center;
    font-size: 10px;
    line-height: 15px;
    margin: 10px;
  }

  .program-heading {
    margin: 20px;
  }

  .partners-logos {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
/*# sourceMappingURL=main.css.map */
