$primary: #ec5242;
$dark: #272a31;
$third: #d3d3d3;
$lato: 'Lato', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@font-face {
    font-family: 'cocogoose';
    src: url(../fonts/Cocogoose.ttf);
}

body {
    min-width: 320px;
}

header {
    background-image: url(../img/supercars.gif), linear-gradient(#d3d3d3, #d3d3d3fb);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: right;
    align-content: flex-start;
}

.social {
    height: 20px;
    background-color: $dark;
    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
        align-content: center;
    }
    li {
        list-style: none;
        font-size: 10px;
        padding: 3px;
        text-decoration: none;
        a {
            color: #d3d3d3;
            text-decoration: none;
        }
    }
}

.navbar-brand{
    display: none;
}

.navbar-toggler {
    border: none;
}

.heading {
    h1 {
        font-family: 'cocogoose', sans-serif;
        color: $primary;
        font-size: 32px;
        margin-top: 5px;
        margin-bottom: 15px;
    }
    h2 {
        color: $primary; 
    }
}

.header-info {
    p {
        margin: 5px;
        padding: 5px;
        border: 2px solid $third;
        color: $dark;
    }
    h3 {
        padding: 10px;
    }
    h4 {
        font-size: 16px;
        margin-bottom: 50px;
    }
}

.event-date {
    font-size: 22px;
    font-weight: 700;
    color: $dark;
}

.main-program {
    background-image: url(../img/blackpattern.jpg), linear-gradient(#d3d3d336, #d3d3d336);
    background-blend-mode: overlay;
    background-size: cover;
    h2{
        color: $third;
    }
    p {
        color: $third;
    }
}

.program-heading {
    display: flex;
    justify-content: center;
    h2 {
        margin: 20px;
        border-bottom: $primary 2px solid;
        border-width: 1px;
    }
}

.activity {
    margin: 10px;
    background-color: #d3d3d32a;
    align-items: center;
    justify-items: center;
    justify-content: center;
    h5 {
        font-size: 14px;
        color: $primary;
    }
    p {
        margin: 0;
    }
    i {
        color: $third;
    }
}

.activity-name {
    display: flex;
    justify-content: center;
}

.act-button {
    display: flex;
    justify-content: center;
    button {
        background-color: $primary;
        color: $third;
        padding: 10px 25px;
        margin: 20px;
        font-weight: 500;
        border: none;
    }
}

#pilots {
    button {
        margin: 15px;
        border: 1px solid $third;
        i {
            color: $primary;
            font-size: 12px;
        }
    }
}

#pilots-heading {
    display: flex;
    justify-content: center;
    h2 {
        margin: 20px;
        border-bottom: $primary 2px solid;
        border-width: 1px;
    }
}

.pilot {
    padding: 10px;
    align-items: flex-start;
    justify-items: center;
    justify-content: center;
}

.pilot-picture {
    margin: 0;
    padding: 0;
    width: 50px;
    height: auto;
}
.pilot-info {
    p {
        font-size: 10px;
        font-family: $lato;
    }
    h5 {
        font-family: 'cocogoose', sans-serif;
        font-size: 14px;
    }
}

.team {
    margin: 0;
    padding: 0;
    width: 50px;
    height: auto;
}

.partners {
    background-color: $dark;
    padding: 20px;
}

.partner-heading {
    display: flex;
    justify-content: center;
    h2 {
        color: $third;
        margin: 20px;
        border-bottom: $primary 2px solid;
        border-width: 1px;
    }
}

.partner-img {
    width: 100%;
    height: 100%;
}

footer {
    padding: 15px;
    p{
        font-size: 12px;
    }
}

.footer-name {
    p {
        font-size: 12px;
        font-weight: bold;
    }
    i {
        font-size: 12px;
    }
}
